@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    /* min-height: 100vh; */
    background-color: var(--Violet);
    color: white;
    display: grid;
    grid-template-columns: minmax(10px,2.5em) minmax(100px,1fr) minmax(10px,2.5em);
}
.pattern .image1{
    /* background-image: url('/huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg'); */
    grid-column: 1/-1;
    position: absolute;
    left:0;
    top: -3%;
    width: 100%;
    z-index: -1;
}
.pattern .image2{
    display: none;
}

header,
main,
footer{
    grid-column: 2;
}

header img{
    max-width: 100%;
    width: 30%;
    margin-top: 2em;
}

main .section0 img{
    max-width:100%;
    margin: 3em 0;
}

main .section1{
    text-align: center;
}
main .section1 h1{
    margin-bottom: .8em;
}
main .section1 button{
    border-width: 0;
    color: var(--Violet);
    width: 170px;
    height: 35px;
    /* width: 42%;
    height: 30%; */
    font-size: .71rem;
    font-weight: 500;
    border-radius: 40px;
    margin: 1.8em 0;
    box-shadow: 0 2px 2px rgb(65, 64, 64);
}


footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

footer ul li:nth-child(2){
    margin: 0 1em;
}

footer ul li{
    border: 1px solid white;
    height: 25px;
    width: 25px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

@media (min-width:480px){
    .pattern .image1{
        display: none;
    }
    .pattern .image2{
        display: initial;
        position: absolute;
        left:-10%;
        top: -10%;
        width: 100%;
        z-index: -1;
    }


    header img{
        width: 15%;
        /* grid-row: 1/2; */
    }

    main{
        /* grid-row: 2/3; */
        display: grid;
        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    }
    main .section0{
        grid-column: 1;
    }
    main .section1{
        grid-column: 2;
        text-align: unset;
        margin: 5em 0 0 2.8em;
    }
    main .section1 h1{
        font-size: 2.4rem;
        font-weight: 900;
        margin-bottom: .6em;
    }
    main .section1 button{
        background-color: white;
        height: 48px; 
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0 2px 3px rgb(65, 64, 64);
    }

    footer{
        align-self: start;
        /* margin-bottom:2em; */
        margin: 0;
        padding: 0;
    }
    footer ul{
        justify-content: flex-end;
        margin:0;
        padding: 0;
    }
    footer ul li{
        height: 32px;
        width: 32px;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
}
